<?xml version="1.0" encoding="utf-8"?>
<dashboard>
  <remoteServices>
    <servers>
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>

  <plugins>

    <farmPlugins>
      <farmReportFarmPlugin categories="false" refreshInterval="0" successBar="Bottom" />
      <cctrayDownloadPlugin />
      <administrationPlugin password="admin" />
    </farmPlugins>

    <serverPlugins>
      <serverReportServerPlugin />
      <serverLogServerPlugin />
    </serverPlugins>

    <projectPlugins>
      <projectReportProjectPlugin />
      <viewProjectStatusPlugin />
      <latestBuildReportProjectPlugin />
      <viewAllBuildsProjectPlugin />
      <viewConfigurationProjectPlugin />
    </projectPlugins>

		<buildPlugins>
			<buildReportBuildPlugin>
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
					<xslFile>xsl\fxcop-summary_1_36.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>
			<buildLogBuildPlugin />

			<!-- build =========================================================== -->
			<xslReportBuildPlugin 
				description="MSBuild Report" 
				actionName="MSBuildBuildReport" 
				xslFileName="xsl\msbuild.xsl" />

			<!-- code analysis =================================================== -->
			<xslReportBuildPlugin 
				description="FxCop Report" 
				actionName="FxCopBuildReport" 
				xslFileName="xsl\fxcop-report_1_36.xsl"></xslReportBuildPlugin>
			<xslReportBuildPlugin 
				description="StyleCop Report" 
				actionName="StyleCopBuildReport" 
				xslFileName="xsl\StyleCopReport.xsl"></xslReportBuildPlugin>

			<!-- tests and coverage ============================================== -->
			<xslReportBuildPlugin 
				description="NUnit Report" 
				actionName="NUnitReport" 
				xslFileName="xsl\nunitv2.xsl" />
			<htmlReportPlugin 
				description="NUnit Coverage IT" 
				actionName="coverageReportIT" 
				htmlFileName="nutest.it.coverage\index.htm" />
			<htmlReportPlugin 
				description="NUnit Coverage UT" 
				actionName="coverageReportUT" 
				htmlFileName="nutest.ut.coverage\index.htm" />

			<!-- ndepend
			<xslReportBuildPlugin 
				description="NDepend Report XSL" 
				actionName="NDependBuildReport" 
				xslFileName="xsl\ndependreport-ccnet.v2.xsl"></xslReportBuildPlugin>
			<htmlReportPlugin 
				description="NDepend Report" 
				actionName="NDependReport" 
				htmlFileName="ndepend\NDependReport.html" />
			-->
		</buildPlugins>

    <securityPlugins>
      <simpleSecurity />
    </securityPlugins>

  </plugins>
</dashboard>
